h1{
    color: rgb(54, 29, 163);
    text-align: center;
}
table{
    color: rgb(44, 226, 44);
}
link{
    color: rgb(185, 24, 150);
}
a{
    font-style: normal;
    text-decoration: none;
    text-shadow: blueviolet;
    text-emphasis-color: rgb(145, 32, 32);
    text
}